 
 <div class="footer-Containerpage" id="footerPage">
    <div class="footer-ContainerpageFlex" >

   <div class="FooteraboutUs">
  <div class="headingForfooter">About us</div>
  <p>At NDMatrix, we combine AI, innovation, and design thinking to build impactful educational tools. Our vision is to simplify learning, improve accessibility, and transform education through technology.</p>
</div>

<div class="exploreLinksForFooter">
<ul>
  <li class="headingForfooter">Explore</li>
  <li><a routerLink="/software-development-center/productsPage">Online Test Series</a></li>
  <li> <a routerLink="/software-development-center/productsPage">  Online Recorded lectures </a> </li>
  <li> <a routerLink="/software-development-center/productsPage"> practice question bank </a></li>
  <li> <a routerLink="/software-development-center/productsPage"> study materials </a></li>
  <li> <a routerLink="/software-development-center/productsPage">test generator</a></li>
  <li> <a routerLink="/software-development-center/productsPage"> learning management system</a></li>
  <li> <a routerLink="/software-development-center/productsPage">student management system</a></li>
  <li> <a routerLink="/software-development-center/productsPage"> admin portal</a></li>
  <li> <a routerLink="/software-development-center/productsPage"> bundle project</a></li>
  <li> <a routerLink="/software-development-center/productsPage"> cloud services & infrastracture </a></li>

</ul>
</div>

<div class="Footer-AddressInfo">
  <ul>
  <li class="headingForfooter">Get in Touch</li>
  <li><b>Email : </b> <i class="fa-regular fa-envelope"></i> contact&#64;ndmatrix.in</li>
    <li><b>Phone : </b> <i class="fa-solid fa-phone"></i> +91-7993270532</li>
  <li class="list-heading">Corporate Office :</li>
  <li>nDMatrix Pvt. Ltd.</li>
  <li>Madhapur,</li>
  <li>Hyderabad,500073</li>
</ul>
</div>
<div class="Footer-TermsPolicy">
  <ul >
    <li class="headingForfooter">Helps & Faqs</li>
  <li> <a>Terms and Conditions </a> </li>
  <li> <a>Privacy Policy </a> </li>
  <li> <a>Pricing & Refund Policy </a> </li>
</ul>
</div>
  </div>
  
 <hr />
<div class="Footer-LastSection">
   

<div class="Footer-icons">
    <button class="iconBtn" routerLink="/"><i class="fa-brands fa-facebook-f"></i></button>
    <button class="iconBtn" routerLink="/"><i class="fab fa-instagram"></i></button>
      <button class="iconBtn" routerLink="/"><i class="fab fa-linkedin"></i></button>
      <button class="iconBtn" routerLink="/"><i class="fab fa-youtube"></i></button>
  </div>
  <p class="FooterCopyRights">
    Copyright &#64; 2025 nDMatrix Pvt.Ltd. All rights reserved.
  </p>
</div>
</div>