 
 <div class="footer-Containerpage" id="footerPage">
    <div class="footer-ContainerpageFlex" >
        <div class="iconsForNdmatrixHead">
 <div class="logoHeadingforfooter">
    <img  src="images/nD_Martrix_Final_Logo_1-removebg-preview.png" alt="logo"/></div>
  <div class="Footer-icons">
    <button class="iconBtn" routerLink="/"><i class="fa-brands fa-facebook-f"></i></button>
    <button class="iconBtn" routerLink="/"><i class="fab fa-instagram"></i></button>
      <button class="iconBtn" routerLink="/"><i class="fab fa-linkedin"></i></button>
      <button class="iconBtn" routerLink="/"><i class="fab fa-youtube"></i></button>
  </div>
  </div>

<ul class="Footer-TermsPolicy">
 
  <li>Terms and Conditions</li>
  <li>Privacy Policy</li>
  <li>Pricing & Refund Policy</li>
</ul>

<div class="Footer-contactDetails">
  <div class="Footer-contactInfo">
    <!-- Replace IoCall and IoIosMail with proper Angular bindings or images if needed -->
   <i class="fa-solid fa-phone"></i> +91-7993270532
  </div>
  <div class="Footer-contactInfo">
    <i class="fa-regular fa-envelope"></i> contact&#64;egradtutor.in
  </div>
</div>

<ul class="Footer-AddressInfo">
  <li class="list-headingforfooter">Contact Us</li>
  <li class="list-heading">Corporate Office :</li>
  <li>eGRADTutor(eGATETutor Academy)</li>
  <li>R.K Nivas, 2nd Floor, Shivam Road,</li>
  <li>New Nallakunta, Hyderabad - 500044.</li>
</ul>
 </div>
<div class="Footer-LastSection">
   
<hr />
  <p class="FooterCopyRights">
    Copyright &#64; 2024 eGRADTutor. All rights reserved.
  </p>
</div>
</div>