.footer-Containerpage{
    background-color:#131341;;
    color: rgb(240, 240, 248);
}
.footer-ContainerpageFlex{
    display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
padding: 1rem;
}
.iconsForNdmatrixHead{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Footer-icons{
    display: flex;
    gap: 1rem;
}
.Footer-TermsPolicy{
    margin: -10px;
}
.Footer-TermsPolicy li{
    list-style-type: none;
    padding-top: 10px;
    cursor: pointer;
}
.Footer-TermsPolicy li a:hover{
    color:  rgb(233, 208, 139);
}
.FooteraboutUs{
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.FooteraboutUs p{
    margin: 0;
    padding: 0;
}
.headingForfooter{
    font-weight: 600;
      padding: 5px;
      font-size: 1.2rem;
}
.exploreLinksForFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}
a{
  color: white;
  text-decoration: none;
}
.exploreLinksForFooter li {
    list-style-type: none;
    cursor: pointer;
    margin-top: 10px;
    text-transform: capitalize;
}
.exploreLinksForFooter li a:hover{
   color: rgb(233, 208, 139);
   text-decoration: underline;
}
.Footer-AddressInfo li{
    list-style-type: none;
    margin-top: 6px;
}
.list-headingforfooter{
        font-size: 20px;
    color: rgb(13, 39, 87);
    font-weight: 600;
}
.list-heading{
    font-weight: 600;
  
}
.logoHeadingforfooter{
    width:  150px;
    height: 100%;
}
.logoHeadingforfooter img{
    width:  100%;
    height: auto;
    border-radius: 10px;
}
.Footer-LastSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconBtn {
  background-color:#131341;;
  border: 1px solid whitesmoke;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  /* border-radius: 50%; Ensures it's a circle */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.iconBtn i {
  font-size: 20px;
  color: white; /* Adjust for your background */
  transition: color 0.3s ease;
}

.iconBtn:hover {
 background-color:whitesmoke;
  transform: scale(1.1);
}

.iconBtn:hover i {
  color: #000; /* Icon color on hover */
}
@media(min-width:1440px){
.footer-ContainerpageFlex{
    justify-content: space-around
}

}
@media(max-width:600px){
    .FooteraboutUs{
        width: 40%;
    }
}