.mainVerticals-container {
  position: relative;
  /* margin: 3rem 0; */
}
#verticals {
  scroll-margin-top: 150px; 
}
.vertical-card {
  position: relative;
  padding: 20px;
  /* border: 1px solid #ccc; */
  margin-bottom: 15px;
  cursor: default;
  transition: background-color 0.3s;
}
.vertical-card.clickable {
  cursor: pointer;
}
.vertical-card:hover {
  background-color: white;
}
.arrow {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: black;
  transition: opacity 0.3s;
}

.verticals-cards-Container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.verticalsImgTitleInfo {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
  transform: rotateY(0deg);
  z-index: 2;
}
.imageForCards {
  width: 300px;
  height: 200px;
}
.imageForCards img {
  width: 100%;
  height: 100%;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.4s ease;
}
.vertical-card {
  background-color: white;
  /* border: 1px solid rgb(187, 185, 185); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 300px;
  box-sizing: border-box;
  position: relative;
  perspective: 1000px;
  height: 300px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 1rem;
}
.verticalsImgTitleInfo,
.verticalsInfo {
  backface-visibility: hidden;
  transition: transform 0.8s ease;
  position: absolute;
  top: 0px;
  left: 50%;
  transform-style: preserve-3d;
  width: 100%;
  transform-origin: center;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.verticalsInfo {
   top: 55px;
}
.verticals-card:hover {
  border-color: transparent;
  animation: wiggle 0.3s ease-in-out 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: whitesmoke;
}
.vertical-card:hover .verticalsImgTitleInfo {
  opacity: 0;
  transform: rotateY(-180deg);
}

.vertical-card:hover .verticalsInfo {
  transform: rotateY(0deg);
  opacity: 1;
  z-index: 3;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verticalsInfo {
  text-align: center;
  transform: rotateY(180deg);
  z-index: 1;
  text-align: center;
}
.verticalsName {
  /* font-size: 1.1rem; */
  /* font-weight: 500; */
  text-transform: capitalize;
  text-align: center;
  color: rgb(31, 20, 20);
  padding: 1rem;
}
.verticalsName h3{
  font-size: 20px;
}
.verticalsName h3{
  font-size: 20px;
}
.headingFor-verticals {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.headingFor-verticals h2 {
  color: rgb(14, 14, 54);
  padding: 0 10px;
  text-transform: uppercase;
}
.headingFor-verticals i {
  color: rgb(112, 111, 111);
  font-size: 10px;
}
.verticalsDiscription {
  width: 100%;
  padding: 0 1rem;
text-align: justify;
hyphens: auto;
  color: rgb(112, 111, 111);
  font-size: 1rem;
}
@media (max-width: 780px) {
  .verticals-cards-Container {
    gap: 1rem;
    margin: 1rem;
  }
  
}
@media (max-width: 600px) {
.headingFor-verticals h2 {
  font-size: 20px;
}
.verticalsName h3{
  font-size: 18px;
}
}