 
 <div class="footer-Containerpage" id="footerPage">
    <div class="footer-ContainerpageFlex" >
<div class="exploreLinksForFooter">
<ul>
  <li class="headingForfooter">Verticals</li>
  <li><a routerLink="/software-development-center/productsPage">Aerospace/Mechanical</a></li>
  <li> <a routerLink="/software-development-center/productsPage"> Robotics/Mechatronics</a> </li>
  <li> <a routerLink="/software-development-center/productsPage">AI/ML Software Tools </a></li>
  <li> <a routerLink="/software-development-center/productsPage"> Software Development Center </a></li>

</ul>
</div>
<div class="forAboutPage">
  <ul>
    <li class="headingForfooter">About</li>
    <li><a routerLink="/"> Company </a>  </li>
    <li><a routerLink="/CareersPage" > Careers </a></li>
  </ul>
</div>
<div class="Footer-AddressInfo">
  <ul>
  <li class="headingForfooter">Get in Touch</li>
  <li> Write us at</li>
  <li> <i class="fa-regular fa-envelope"></i> ndmatrixhyd&#64;gmail.com</li>
  <li class="list-heading">Corporate Office :</li>
  <li>nDMatrix Pvt. Ltd.</li>
  <li>Hi-tech city,Madhapur,</li>
  <li>Hyderabad,Telangana</li>
   <li>500081.</li>
</ul>
</div>
  </div>

  <p class="FooterCopyRights">
    Copyright &#64; 2025 nDMatrix Pvt.Ltd. All rights reserved.
  </p>
<!-- </div> -->
</div>