.footer-Containerpage{
    background-color:#131341;
    color: rgb(240, 240, 248);
}
.footer-ContainerpageFlex{
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 1rem;
/* padding: 0 1rem; */
}
/* .footer-ContainerpageFlex > div {
  flex: 1 1 300px;
  margin-top: 1rem;
} */

.iconsForNdmatrixHead{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Footer-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.headingForfooter{
    font-weight: 600;
      /* padding: 5px; */
      font-size: 1.2rem;
      color: white !important ;
}
.forAboutPage li{
     list-style-type: none;
    cursor: pointer;
    margin-top: 7px;
   
}
.forAboutPage li a:hover{
     color: white;
   text-decoration: underline;

}
a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.exploreLinksForFooter li {
    list-style-type: none;
    cursor: pointer;
    margin-top: 7px;
    text-transform: capitalize;
}
.exploreLinksForFooter li a:hover{
   color:white;
   text-decoration: underline;
}


.Footer-AddressInfo li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
  color: rgb(216, 216, 216);
}

.Footer-AddressInfo li i {
  min-width: 20px;
  text-align: center;
}

.list-headingforfooter{
        font-size: 20px;
    color: rgb(13, 39, 87);
    font-weight: 600;
}
.list-heading{
    font-weight: 600;
  
}
.logoHeadingforfooter{
    width:  150px;
    height: 100%;
}
.logoHeadingforfooter img{
    width:  100%;
    height: auto;
    border-radius: 10px;
}
.Footer-LastSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconBtn {
  background-color:#131341;;
  border: 1px solid whitesmoke;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  /* border-radius: 50%; Ensures it's a circle */
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 50px;
  margin:  5px;
}

.iconBtn i {
  font-size: 20px;
  color: white; /* Adjust for your background */
  transition: color 0.3s ease;
}

.iconBtn:hover {
 background-color:whitesmoke;
  transform: scale(1.1);
}

.iconBtn:hover i {
  color: #000; /* Icon color on hover */
}
.FooterCopyRights{
text-align: center;
    color: rgb(216, 216, 216);

}

@media(max-width:1100px){
    

.exploreLinksForFooter li {
    font-size: 13px;
}
.Footer-AddressInfo li{
    font-size: 13px;

}
.forAboutPage li{
    font-size: 13px;

}
.FooterCopyRights{
    font-size: 13px;

}
.headingForfooter{
    font-size: 15px;
        
    }
}
@media(max-width:600px){
    .footer-ContainerpageFlex{
    justify-content: flex-start;
    gap: 6px;
}
}