 
 <div class="footer-Containerpage" id="footerPage">
    <div class="footer-ContainerpageFlex" >
<div class="exploreLinksForFooter">
<ul>
  <li class="headingForfooter">Centres</li>
  <li>Aerospace Research Centre</li>
  <!-- <li> <a routerLink="/software-development-center/products"> Robotics/Mechatronics</a> </li>
  <li> <a routerLink="/software-development-center/products">AI/ML Software Tools </a></li> -->
  <li>  Software Development Centre </li>

</ul>
</div>
<div class="forAboutPage">
  <ul>
    <li class="headingForfooter">About</li>
    <li><a href="/" (click)="navigateHome($event)">Company</a>  </li>
    <li><a routerLink="/Careers" > Careers </a></li>
  </ul>
</div>
<div class="Footer-AddressInfo">
  <ul>
  <li class="headingForfooter">Get in Touch</li>
  <li> <i class="fa-regular fa-envelope"></i> contact&#64;ndmatrix.in</li>
  <li>
  <i class="fa-solid fa-location-dot"></i>
Knowledge City,<br/>Hyderabad - 500019.
</li>

</ul>
</div>
  </div>

  <p class="FooterCopyRights">
    Copyright &#64; 2025 nDMatrix Pvt.Ltd. All rights reserved.
  </p>
<!-- </div> -->
</div>