
<div class="contactPage-Container">
<main-header></main-header>

<div class="contactPage-SubContainer">
<h1 class="headingForContactUs">Contact Us</h1>
<form #contactFormRef="ngForm" (ngSubmit)="sendEmail()" class="contact-detailsInfo">
  <input type="text" name="name" placeholder="Name"  required />
  <input type="text" name="email" placeholder="Email*"  required />
  <textarea   name="message" placeholder="Message"></textarea>
  <div class="submitBtn"> 
      <button type="submit">Submit</button>
  </div>
</form>
</div>

<main-footer></main-footer>

</div>