
<div>
    <main-header></main-header>
    <div class="careerPage-container">
       
        <div class="careersHeroHeader">

  <div class="career-content-container">
    <div class="career-text animate-left">
  <h1 class="headeingForCareer">Careers</h1>

      <p>
        At nDMatrix, we build smart solutions across AI, robotics, aerospace, and education.
        We’re looking for passionate problem-solvers ready to lead the next tech revolution.
      </p>
    </div>

    <div class="career-image-wrapper animate-right">
      <img src="images/careerImg.jpg" alt="bannerImage" />
    </div>
  </div>
</div>

        <!-- <hr/> -->
        <div class="careersHeroHead">
            <h2 class="headeingForCareer">Come Work with us </h2>
            <p>Join nDMatrix and be part of a passionate team building innovative solutions in AI, robotics, and education. Work on impactful projects, grow in a culture of learning and ownership, and help shape the future with technology that makes a difference.</p>
<p class="mail-section"> Drop your resume at contact&#64;ndmatrix.in</p>
        
          </div>
         <!-- <div class="flexofSearch">
            <div class="search-box">
  <input type="text" placeholder="Search for jobs..." />
  <i class="fa fa-search"></i>
</div>
<div class="findBtn">
 <button >Find job</button>
 </div>
      </div>
<div class="jobs-container">
<div class="jobsFlex-cards" *ngFor="let jobs of jobsInfo">
<div class="job-titile"><h3>{{jobs.jobtitle}}</h3></div>
<div class="job-info">No of Openings : {{jobs.noOfOpenings}}</div>
<div class="applyBtn">
    <button>Apply</button>
</div>
</div>

</div> -->

    </div>

    <main-footer></main-footer>
</div>