
<div class="contactPage-Container">
<main-header></main-header>

<div class="contactPage-SubContainer">
  <div class="contactImg-wrapper">
<img src="images/contactus.jpg" alt="addedImgConatc"/>
<div class="headingForfooter">
  <h1>Get in Touch</h1>
  <p >We’d love to hear from you! If you have any queries, feel free to mail us, we'll respond as soon as possible.</p>
  </div>
  </div>

<div class="listForAddress">
  <div class="Email-addressInfo">
    <div class="IconforContact">
    <i class="fa-regular fa-envelope"></i>
  </div>
  <div> Write us at</div>
  <div> <i class="fa-regular fa-envelope"></i> contact&#64;ndmatrix.in</div>
  </div>
  <div class="Email-addressInfo">
    <div class="IconforContact"><i class="fas fa-map-marker-alt"></i>
</div>
<div class="div-containerFlex">
  <div class="divst-heading">*Corporate Office :</div>
  <div><i class="fa-regular fa-building"></i> nDMatrix Pvt. Ltd.</div>
  <div> <i class="fa-solid fa-location-dot"></i>  Knowledge City, <br>Hyderabad - 500019.</div>
   </div>
   </div>
</div>
</div>

<main-footer></main-footer>

</div>