
.contactPage-SubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: whitesmoke;
padding-bottom: 3rem;
}
.headingForContactUs{
     color: white;
     text-align: center;
       display: none;
    font-size: 3rem;
}
.div-containerFlex{
line-height: 40px;
  text-align: justify;
  padding: 0 2rem;

}
.divst-heading{
  text-align: center;
}
.contact-detailsInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 align-items: center; 
    justify-content: center;
   
}
.contactImg-wrapper{
  width: 100%;
    position: relative;
  background-color: rgba(14, 32, 90, 0.6);
}
.contactImg-wrapper img{
  width: 100%;
  height: auto;
  object-fit: cover;
 -webkit-mask-image:linear-gradient(rgba(165, 199, 238, 0.5));
}
.listForAddress{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: -70px;
  z-index: 1;
  /* font-weight: 600; */
  font-size: 1.3rem;
  color: rgb(39, 38, 38);
}
.Email-addressInfo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 1px solid transparent;
  padding: 1rem;
margin: 1rem;
width: 330px;
height: 300px;
background-color: white;
border-radius: 15px;
}
.Email-addressInfo i{
  padding-right: 10px;
}
.IconforContact i{
  font-size: 50px;
  color: #2e2d86;;
}
 .headingForfooter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -30%);
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.headingForfooter h1{
  font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.headingForfooter p{
 font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
}
@media(max-width:1500px){
    .headingForfooter{
  transform: translate(-100%, -30%);
  
   } 
   .Email-addressInfo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 1px solid rgb(211, 211, 211);
  padding: 1rem;
margin: 1rem;
width: 300px;
height: 250px;
background-color: white;
}
.div-containerFlex{
line-height: 35px;
  text-align: justify;

}
   .listForAddress{
  font-size: 1rem;
}
}
@media(max-width:900px){
.listForAddress{
  gap: 1rem;
 margin: 0;
}
}
@media(max-width:768px){
   .headingForfooter{
  transform: translate(-100%, -40%);
    
   } 
     .headingForfooter h1{
  font-size: 15px;
}
.headingForfooter p{
  text-align: center;
  font-size: 10px;

}
.listForAddress{
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  gap: 10px;
}
  }
@media(max-width:600px){
   .contact-detailsInfo input{
    width: 250px;
    height: 38px;
    
}
.Email-addressInfo{
width: 250px;
height: 250px;
background-color: white;
}
.contact-detailsInfo textarea{
    width: 250px;
    height: 100px;
}
.headingForfooter p{
  text-align: center;
  font-size: 9px;

}
 
}

