
<div class="contactPage-Container">
<main-header></main-header>

<div class="contactPage-SubContainer">
  <div class="contactImg-wrapper">
<img src="images/contactus.jpg" alt="addedImgConatc"/>
<div class="headingForfooter">
  <h1>Get in Touch</h1>
  <p >We’d love to hear from you! If you have any queries, feel free to email us,we'll respond as soon as possible.</p>
  </div>
  </div>
 <h1 class="headingForContactUs">Thank You For visiting our website..</h1>

<div class="listForAddress">
  <div class="EmailInfo">
    <div class="IconforContact">
    <i class="fa-regular fa-envelope"></i>
  </div>
  <div> Write us at</div>
  <div> <i class="fa-regular fa-envelope"></i> ndmatrixhyd&#64;gmail.com</div>
  </div>
  <div class="addressInfo">
    <div class="IconforContact"><i class="fas fa-map-marker-alt"></i>
</div>
  <div class="divst-heading">Corporate Office :</div>
  <div>nDMatrix Pvt. Ltd.</div>
  <div>Hi-tech city,Madhapur,</div>
  <div>Hyderabad,Telangana</div>
   <div>500081.</div>
   </div>
</div>
</div>

<main-footer></main-footer>

</div>