
<div class="contactPage-Container">
<main-header></main-header>

<div class="contactPage-SubContainer">
  <div>
 <h1 class="headingForContactUs">Contact Us</h1>
 </div>
 <!--
<form class="contact-detailsInfo">
  <input type="text" name="name" placeholder="Name"  required />
  <input type="text" name="email" placeholder="Email*"  required />
  <textarea  name="message" placeholder="Message"></textarea>
  <div class="submitBtn"> 
      <button type="submit">Submit</button>
  </div>
</form> -->
<div class="listForAddress">
 <ul>
  <li class="headingForfooter">Get in Touch</li>
  <li> Write us at</li>
  <li> <i class="fa-regular fa-envelope"></i> ndmatrixhyd&#64;gmail.com</li>
  <li class="list-heading">Corporate Office :</li>
  <li>nDMatrix Pvt. Ltd.</li>
  <li>Hi-tech city,Madhapur,</li>
  <li>Hyderabad,Telangana</li>
   <li>500081.</li>
</ul>
</div>
</div>

<main-footer></main-footer>

</div>