<div class="MainbannerHomePage">
    <div id="Home" class="bannerImg">
        <img src="images/nDMartrixFinalLogo.jpg" alt="bannerImg"/>
        <div class="textForImg">Bridging creative minds and visionary thoughts.</div>
    </div>
 <section  id="about">
    <div class="aboutusflex-container" >
     <div class="headingFor-about"><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><h2>About Us</h2><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i></div>
  <p class="about-content">
  nDMatrix, an aerospace and software development product-based startup company, delivers solutions across diverse domains through cutting-edge technologies and AI integration. Our Software Development Centre focuses on AI/ML applications and software tools for the EdTech sector, while our Aerospace Research Center designs advanced in-house high-payload drone systems. By combining innovation, expertise and a culture of excellence, we drive transformation and create lasting value.
   <div class="subHeadingForAbout">Multi dimensional growth and impact</div>
   <div class="cards-containerForAbout">
    <div class="cards-flex-about"  *ngFor="let aboutcard of aboutCards" >
        <div class="aboutCard-title">{{aboutcard.title}}</div>
        <div class="aboutDescription">{{aboutcard.description}}</div>
    </div>
   </div>
</div>
 </section>
</div>