
.MainProctsHomePage-Container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
}

.mainProducts-container{
  /* height: calc(100vh - 100px);
  overflow: auto; */
  position: relative;
 
}
#productsPage {
  scroll-margin-top: 100px; /* Adjust based on your header height */
}

.products-cards-Container{
    display: flex;
gap: 1rem;
margin: 0 auto ;
justify-content: center;
flex-wrap: wrap;
width: 80%;

}
.products-enter {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.products-visible {
  opacity: 1;
  transform: translateY(0);
}

.productsImgTitleInfo{
transition: opacity 0.1s ease;
display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 55px;
}
.imageForCards{
    width: 170px;
    height: 150px;
     
}
.imageForCards img{
    width: 100%;
    height: 100%;
        border: 1px solid whitesmoke;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

        background-color: white;
         object-fit: cover;
           transition: transform  0.1s ease, opacity  0.1s ease;
}
.cardsForFlex{
/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
background-color: whitesmoke;
border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
      position: relative;
  height: 300px; /* or a fixed height that fits all content */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-image-slice: 1;
  border-width: 3px;
  margin: 2rem 0;
}
.cardsForFlex:hover {
  border-color: transparent;
  border-image-source: linear-gradient(100deg, rgb(124, 103, 247), rgb(88, 113, 228), blue, rgb(130, 225, 238));
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: rgb(240, 240, 248);
}
.cardsForFlex:hover .productsImgTitleInfo {
  opacity: 0;
}

.cardsForFlex:hover .productsInfo {
  opacity: 1;
  transform: translateY(-90%);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.productsInfo {
  opacity: 0;
  transform: translateY(-85%);
  transition: opacity  0.1s ease, transform  0.1s ease;
  text-align: center;

}
.productsName{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: rgb(53, 20, 20);
    font-size: 1rem;
}
.headingFor-porducts{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 4rem; */
}
.headingFor-porducts h2{
    /* margin: 10px; */
    color: rgb(14, 14, 54);
    padding: 0 10px;
    text-transform: uppercase;
}
.headingFor-porducts i{
   color: rgb(112, 111, 111);
   font-size: 10px;
}
.productsDiscription{
   width: 100%; 
   /* padding: 0 1rem; */
  white-space: normal;       
  overflow-wrap: break-word; 
  word-spacing: 3px;
      color: rgb(112, 111, 111);
}
@media(max-width:780px){
   .products-cards-Container{
gap: 1rem;
/* width: -1%; */
}

}
@media(max-width:900px){
   .MainProctsHomePage-Container{
    width: 100%;
    box-shadow:none;
}

}