
 <div class="MainProctsHomePage-Container">
    <main-header></main-header>
 <div class="mainProducts-container" >
        <div class="headingFor-porducts"><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><h2>Our Products</h2><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i><i class="fa-solid fa-diamond"></i></div>
 <p> nDMatrix provides a comprehensive suite of educational solutions, including test series, recorded lectures, question banks, study materials, and smart test generators. It also offers robust LMS, student management, admin portals, and integrated cloud services — all in one powerful platform.</p>
        <div  #productsContainer class="products-enter">
  
<div class="products-cards-Container">
    <div class="cardsForFlex" *ngFor="let cards of productCards" #cardElement>
    <div class="productsImgTitleInfo">
      <div class="iconForCards">
        <i [class]="cards.productsIcon"></i>
      </div>
      <div class="productsdisInfo">
      <h3 class="productsName">{{ cards.title }}</h3>
       <div class="productsDiscription">{{ cards.discription }}</div>
    </div>
    </div>
  </div>
</div>

  </div>
     </div>
  <main-footer></main-footer>
     </div>
    

