.ndmatrixHomepage-container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
}
.verticals-enter {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.verticals-visible {
  opacity: 1;
  transform: translateY(0);
}



@media(max-width:900px){
   .ndmatrixHomepage-container{
    width: 100%;
    box-shadow:none;
}
}