<div class="registrationaMainHomePageContainer">
<main-header></main-header>

<div class="registrationaPageContainer">
  <h2 class="RegistrationHeading">Student Registration Page</h2>

  <div class="RegistrationBackbtnDiv">
    <button (click)="handleBackButtonClick()" class="SRBackbtn">Back</button>
  </div>

  <form class="SRForm" (ngSubmit)="handleSubmit()" #registrationForm="ngForm">
    <!-- PERSONAL DETAILS -->
     <div>
    <div class="SRSubField1">
      <h1 class="SR_hTag">Personal Details</h1>

      <div>
        <label>Candidate Name: <span class="SRImportantField">*</span></label>
        <input type="text" name="candidateName" [(ngModel)]="formData.candidateName" required />
        <p *ngIf="errors.candidateName" class="error">{{ errors.candidateName }}</p>
      </div>

      <div>
        <label>Date of Birth: <span class="SRImportantField">*</span></label>
        <input type="date" name="dateOfBirth" [(ngModel)]="formData.dateOfBirth" required />
        <p *ngIf="errors.dateOfBirth" class="error">{{ errors.dateOfBirth }}</p>
      </div>

      <div>
        <label>Gender: <span class="SRImportantField">*</span></label>
        <div class="SRradioInputs">
                   
        <div><input type="radio" name="gender" value="Male" [(ngModel)]="formData.gender" required /> <label>Male</label></div> 
    
        <div><input type="radio" name="gender" value="Female" [(ngModel)]="formData.gender" required /> <label>Female</label>  </div>
      
        <div><input type="radio" name="gender" value="Other" [(ngModel)]="formData.gender" required /> <label>Other</label> </div>
       
        </div>
        <p *ngIf="errors.gender" class="error">{{ errors.gender }}</p>
      </div>

      <div>
        <label>Category: <span class="SRImportantField">*</span></label>
          <div class="SRradioInputs">
            <div>   <input type="radio" name="category" value="General" [(ngModel)]="formData.category" required /> <label>General</label></div>
     <div><input type="radio" name="category" value="OBC" [(ngModel)]="formData.category" required /> <label>OBC</label></div>
        <div> <input type="radio" name="category" value="SC/ST" [(ngModel)]="formData.category" required /> <label>SC/ST</label> </div>
        </div>
        <p *ngIf="errors.category" class="error">{{ errors.category }}</p>
      </div>

      <div>
        <label>Email ID: <span class="SRImportantField">*</span></label>
        <input type="text" name="emailId" [(ngModel)]="formData.emailId" required />
        <p *ngIf="errors.emailId" class="error">{{ errors.emailId }}</p>
      </div>

      <div>
        <label>Confirm Email ID: <span class="SRImportantField">*</span></label>
        <input type="text" name="confirmEmailId" [(ngModel)]="formData.confirmEmailId" required />
        <p *ngIf="errors.confirmEmailId" class="error">{{ errors.confirmEmailId }}</p>
      </div>

      <div>
        <label>Contact No: <span class="SRImportantField">*</span></label>
        <input type="number" name="contactNo" [(ngModel)]="formData.contactNo" required />
        <p *ngIf="errors.contactNo" class="error">{{ errors.contactNo }}</p>
      </div>
    </div>

    <!-- GUARDIAN DETAILS -->
    <div class="SRSubField1">
      <h1 class="SR_hTag">Father's/Guardian's Details</h1>

      <div>
        <label>Father/Mother/Guardian Name: <span class="SRImportantField">*</span></label>
        <input type="text" name="fatherName" [(ngModel)]="formData.fatherName" required />
        <p *ngIf="errors.fatherName" class="error">{{ errors.fatherName }}</p>
      </div>

      <div>
        <label>Occupation: <span class="SRImportantField">*</span></label>
        <input type="text" name="occupation" [(ngModel)]="formData.occupation" required />
        <p *ngIf="errors.occupation" class="error">{{ errors.occupation }}</p>
      </div>

      <div>
        <label>Mobile No: <span class="SRImportantField">*</span></label>
        <input type="number" name="mobileNo" [(ngModel)]="formData.mobileNo" required />
        <p *ngIf="errors.mobileNo" class="error">{{ errors.mobileNo }}</p>
      </div>
    </div>

    <!-- COMMUNICATION DETAILS -->
    <div class="SRSubField1">
      <h1 class="SR_hTag">Communication Details</h1>

      <div>
        <label>Line1: <span class="SRImportantField">*</span></label>
        <input type="text" name="line1" [(ngModel)]="formData.line1" required />
        <p *ngIf="errors.line1" class="error">{{ errors.line1 }}</p>
      </div>

      <div>
        <label>State: <span class="SRImportantField">*</span></label>
        <input type="text" name="state" [(ngModel)]="formData.state" required />
        <p *ngIf="errors.state" class="error">{{ errors.state }}</p>
      </div>

      <div>
        <label>Districts: <span class="SRImportantField">*</span></label>
        <input type="text" name="districts" [(ngModel)]="formData.districts" required />
        <p *ngIf="errors.districts" class="error">{{ errors.districts }}</p>
      </div>

      <div>
        <label>Pincode: <span class="SRImportantField">*</span></label>
        <input type="number" name="pincode" [(ngModel)]="formData.pincode" required />
        <p *ngIf="errors.pincode" class="error">{{ errors.pincode }}</p>
      </div>
    </div>
</div>
<div>
    <!-- EDUCATION DETAILS -->
   
      <div class="SRSubField1">
        <h1 class="SR_hTag">Education Details</h1>

        <div>
          <label>Qualifications: <span class="SRImportantField">*</span></label>
          <div class="SRradioInputs">
            <div> <input type="radio" name="qualifications" value="Passed" [(ngModel)]="formData.qualifications" required /> <label>Passed XII</label> </div>
         <div> <input type="radio" name="qualifications" value="Appearing" [(ngModel)]="formData.qualifications" required /> <label>Appearing XII</label> </div> 
          </div>
          <p *ngIf="errors.qualifications" class="error">{{ errors.qualifications }}</p>
        </div>

        <div>
          <label>Name of College: <span class="SRImportantField">*</span></label>
          <input type="text" name="nameOfCollege" [(ngModel)]="formData.nameOfCollege" required />
          <p *ngIf="errors.nameOfCollege" class="error">{{ errors.nameOfCollege }}</p>
        </div>

        <div>
          <label>Passing Year: <span class="SRImportantField">*</span></label>
          <input type="text" name="passingYear" [(ngModel)]="formData.passingYear" required />
          <p *ngIf="errors.passingYear" class="error">{{ errors.passingYear }}</p>
        </div>

        <div>
          <label>Marks(%): <span class="SRImportantField">*</span></label>
          <input type="text" name="marks" [(ngModel)]="formData.marks" required />
          <p *ngIf="errors.marks" class="error">{{ errors.marks }}</p>
        </div>
      </div>

      <!-- FILE UPLOAD -->
      <div class="SRSubField2">
        <h1 class="SR_hTag">Upload Image/Documents</h1>

        <div class="SRUploadPhotoDiv">
          <div>
            <label>Upload Photo: <span class="SRImportantField">*</span></label>
            <div class="SRFormImage">
                      <img src="images/SRFormImage.jpg" alt="no img" />
                    </div>
            <input type="file" name="uploadedPhoto" (change)="handlePhotoUpload($event)" accept="image/png, image/jpeg, image/jpg" required />
            <p class="SRNotPoint">
              <strong>*Note:</strong> File size must be between 50KB and 200KB. Only JPG, JPEG, or PNG allowed.
            </p>
          </div>

           <div>
           
            <label>Upload Proof: <span class="SRImportantField">*</span></label>
             <div class="SRFormImage">
                      <img src="images/SRFormImage.jpg" alt="no img" />
                    </div>
            <input type="file" name="proof" (change)="handleProofUpload($event)" accept="image/png, image/jpeg, image/jpg" required />
            <p class="SRNotPoint">
              <strong>*Note:</strong> File size must be between 100KB and 500KB. Only JPG, JPEG, or PNG allowed.
            </p>

            </div>
        </div>
</div>
        
     

<div>
    <div class="registerBtn">
    <button type="submit" class="buttonforStdReg">Register</button></div>
    </div>
    </div>
  </form>
</div>

<main-footer></main-footer>
</div>