<div class="header-mainpage-Container" >
<div class="header-logo">
    <img  src="images/nDMartrixFinalLogo.jpg" alt="logo"/>
</div>
  <div class="hamburger" (click)="toggleMenu()">
      <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
  </div>
<div class="header-logins-flex" id="navMenu" [ngClass]="{ 'active': isMenuOpen }">
        <button type="button" routerLink="/" (click)="scrollToSection('home')" class="login-button" [class.active]="activeButton === 'home'">Home</button>
        <button  class="login-button"  (click)="scrollToSection('about')" [class.active]="activeButton === 'about'">About</button>
        <button  class="login-button"  (click)="scrollToSection('verticals')" [class.active]="activeButton === 'verticals'">Centers</button>
         <button  class="login-button" routerLink="/Careers" [class.active]="activeButton === 'careers'">Careers</button>
        <button  class="login-button" routerLink="/Contact" [class.active]="activeButton === 'contact'">ContactUs</button>

</div>

</div>




