<div class="header-mainpage-Container">
<div class="header-logo">
    <img  src="images/nDMartrixLogo.jpg" alt="logo"/>
</div>
<div class="header-logins-flex">
        <button  class="login-button" routerLink="/">Home</button>
        <button  class="login-button" routerLink="/">About</button>
        <button  class="login-button"routerLink="/Footerpage" >ContantUs</button>
        <button  class="login-button" routerLink="/RegisterPage">Register</button>
        <button  class="login-button" routerLink="/loginPage">Login</button>
</div>

</div>




